<h1>Welcome to Spotify</h1>

<form action="/artist-search" method="GET">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Artist Name</label>
  <input name="artistName" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Artist">
  <button type="submit" class="btn btn-primary">Search</button>
</div>
</form>